body{
background-color: #149c44;
font-family: Arial, sans-serif;
}
.title-box{
display: inline-block;
padding: 15px 30px;
background-color: #c82b2b;
color: #ffffff ;
border: 4px solid #ffffff; 
font-size: 36px;
font-weight: bold;
border-radius: 15px;
margin: 20px auto;
text-align: center;

}
.center-wrapper{
text-align: center;
}

.dayBox {
background-color: #c82b2b;  
color: #ffffff;            
font-size: 24px;          
font-weight: bold;
border: 2px solid #ffffff;   
border-radius: 10px;
padding: 20px;         
cursor: pointer;
width: 100%;
height: 100px;
justify-content: center;
}
.dayBox:hover {
 background-color: #8c0303;   
  }


.calendar {
display: grid;
grid-template-columns: repeat(6, 1fr); /* divides the line into even parts */
gap: 10px; /*gap between buttons*/
padding: 20px; /*gap between the button container and the boarders of the page*/
}
.question-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #c82b2b;
    border: 4px solid #ffffff;
    border-radius: 15px;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}


#question {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 25px;
}


.answer-btn {
    padding: 15px 25px;
    margin: 10px;
    background-color: #ffffff;
    border: 3px solid #c82b2b;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

#answer-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.answer-btn:hover {
    background-color: #ffdcdc;
    transform: scale(1.03);
}


#vastaus {
    font-size: 24px;
    margin-top: 20px;
    color: #ffffff;
    font-weight: bold;
}


#back-btn {
    margin-top: 25px;
    padding: 12px 25px;
    background-color: #ffffff;
    border: 4px solid #c82b2b;
    border-radius: 12px;
    font-size: 22px;
    cursor: pointer;
    transition: 0.2s;
}

#back-btn:hover {
    background-color: #ffe1e1;
    transform: scale(1.05);
}