body{
background-color: #0b5a26;
font-family: Arial, sans-serif;
}
.title-box{
display: inline-block;
padding: 15px 30px;
background-color: #c40000;
color: #ffffff ;
border: 4px solid #ffffff; 
font-size: 36px;
font-weight: bold;
border-radius: 15px;
margin: 20px auto;
text-align: center;

}
.center-wrapper{
text-align: center;
}

.dayBox {
background-color: #c40000;  
color: #ffffff;            
font-size: 24px;          
font-weight: bold;
border: 2px solid #ffffff;   
border-radius: 10px;
padding: 20px;         
cursor: pointer;
width: 100%;
height: 100px;
justify-content: center;
}
.dayBox:hover {
 background-color: #8c0303;   
  }


.calendar {
display: grid;
grid-template-columns: repeat(6, 1fr); /* divides the line into even parts */
gap: 10px; /*gap between buttons*/
padding: 20px; /*gap between the button container and the boarders of the page*/
}